<h1>List of all actors</h1>

<table border="1">
  <% @list_of_actors.each do |data| %>
    <tr>
      <td><%= data.id %></td>
      <td>
        <img src="http://robohash.org/<%= data.image %>">
      </td>
      <td><%= data.name %></td>
      <td><%= data.dob %></td>
      <td>
        <a href="/actors/<%= data.id %>">
        Show details
      </td>
    </tr>
  <% end %>
</table>